@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none !important;
}

/* Colour Variables */
:root {
    --primary-colour: #000;
    --secondary-colour: #219150;
    --background: #fff;
    --scrollbar: #ddd;
    --light-background: #fff;
    --secondary-text: #000;
}

.dark-mode {
    --primary-colour: #f8f9fa;
    --secondary-colour: #29d9d5;
    --background: #111111;
    --scrollbar: #222;
    --light-background: #1a1a1a;
    --secondary-text: #bbb;
}

/* Scrollbar CSS */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar); 
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-colour); 
    border-radius:10px;
}

/* Whole body CSS */
body {
    background-color: var(--background);
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 40px 0;
}

.section-h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-colour);
}

.section-h6 {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-colour);
}

.logo {
    color: var(--secondary-colour);
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

/* Navabar CSS */
.navbar {
    min-height: 72px;
}

.navbar .active:hover {
    color: var(--secondary-colour) !important;
}

.navbar-light {
    background-color: #f8f9fa;
}

.navbar-dark {
    background-color: #000;
}

/* Hero Section CSS */
#hero p {
    color: var(--secondary-text);
}

/* Subjects CSS */
#subject-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0 18%;
}

.subject {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 135px;

    border-radius: 5px;
    border: 1.75px solid var(--secondary-text);
}

.subject p {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    margin: 8px 0;
    font-size: 13.5px;
    color: var(--primary-colour);
}

.subject i {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    color: var(--secondary-colour);

    width: 100%;
    margin-top: 8px;
}

.subject:hover {
    border-color: var(--secondary-colour);
    box-shadow: 0 0 5px 1px var(--secondary-colour);
}

/* Courses CSS */
#filters input {
    color: var(--primary-colour);
    border: 1px solid #1a1a1a;
    background-color: var(--light-background);
}

#filters ul {
    padding: 0;
}

#filters li {
    list-style: none;
    font-size: 14.5px;
}

#filters li,
#filters h6 {
    color: var(--primary-colour);
}

.courses-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.card {
    border: 1px solid #1a1a1a;
    background-color: var(--light-background);
}

.card:hover {
    border-color: var(--secondary-colour);
    box-shadow: 0 0 5px 1px var(--secondary-colour);
}

.card h5 {
    margin: 0 0 5px 0;
    font-size: 16.5px;
    color: var(--primary-colour);
}

.card p {
    margin: 0;
    padding: 0;

    font-size: 12.75px;
    color: var(--secondary-text);
}

.card span {
    color: var(--primary-colour);
    font-weight: bold;
}

.dark-mode .card span {
    color: var(--primary-colour);
    font-weight: normal;
}

.card ul {
    margin: 0;
    padding: 0;

    font-size: 13.5px;
    color: var(--secondary-text);
    list-style: none;
}

.pagination .active a {
    background-color: var(--secondary-colour) !important;
}

.pagination li a {
    background-color: var(--background) !important;
    color: var(--secondary-colour);
}

.pagination li a:hover {
    box-shadow: 0 0 1px 1px var(--secondary-colour);
    color: var(--secondary-colour)
}

/* Review CSS */
#review .carousel-inner {
    padding: 0 56px;
}

#review button {
    width: fit-content;
    padding: 10px;

    color: var(--primary-colour);
    opacity: 1;
}

.review {
    width: 100%;
    background-color: var(--light-background);

    border: 1px solid;
    border-radius: 5px;
}

.review b {
    color: var(--primary-colour);
}

.review .comment {
    font-size: 13.25px;
    color: var(--secondary-text);
}

#review-container {
    padding: 0 12.5vh;
}

/* Banner CSS */
#banner {
    margin: 80px 0;
    background-color: var(--secondary-colour);
}

/* Contact CSS */
#contact input,
textarea {
    width: 100%;
    padding: 2.5px 6.5px;

    border: 1.5px solid #1a1a1a;
    border-radius: 4px;

    color: var(--primary-colour);
    background-color: var(--light-background);
}

#contact label {
    color: var(--secondary-text);
}

textarea {
    height: 135px;
}

#contact h1 {
    color: var(--primary-colour);
}

#contact i {
    width: 18px;
    color: var(--secondary-colour);
}

#contact p {
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 3px;
}

/* Footer CSS */
footer {
    background-color: black;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 50px 0 25px 0;
    background-color: black;
}

footer h1 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

footer p {
    font-size: 15px;
}

footer h1,
footer p {
    color: white;
}

.brands {
    width: 40px;
    height: 40px;
    margin: 15px 12px 0 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 24px;
    color: var(--secondary-colour);
    border: 2px solid var(--secondary-colour);
    border-radius: 50%;
}

.brands:hover {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    transition: 0.25s;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li a,
footer ul li {
    color: white;
    font-size: 15px;

    margin: 8px 3px;
    text-decoration: none;
}

footer ul li i {
    height: 20px;
    width: 20px;
    color: var(--secondary-colour);
}

footer ul li:hover span,
footer ul li a:hover {
    color: var(--secondary-colour);
    font-weight: 600;

    padding-left: 6.5px;
    transition: 0.1s;
}

footer hr {
    margin: 35px;
    color: white;
}
